.App{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.App::-webkit-scrollbar {
  display: none;
}
.gradient-bg-welcome {
  background-color:#0f0e13;
  background-image: 
    radial-gradient(at 0% 0%, hsla(253,16%,7%,0.5) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,0.5) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,0.5) 0, transparent 50%);
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* To ensure multiple rows if needed */
  gap: 16px; /* Adjust the spacing between cards */
}

.card-div {
  flex: 1 1 250px; /* Ensure cards are responsive and take up equal space */
  max-width: 250px; /* Define the maximum width of cards */
  height: 450px; /* Set a fixed height for the cards */
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}

.card-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card-content {
  flex: 1; /* This will push the footer to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-footer {
  margin-top: auto; /* Pushes the footer to the bottom */
  padding: 10px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}


